<h1>Listado de Zoológicos</h1>
<a href="{% url 'zoo-create' %}">Crear Nuevo Zoo</a>
<ul>
{% for item in zoo_data %}
    <li>
        <strong>{{ item.zoo.name }}</strong> - {{ item.zoo.city }}, {{ item.zoo.country }}
        <br>
        Animales: {{ item.animal_count }}
        <br>

        <ul>
            {% for family, animals in item.animals_by_family.items %}
                <li>
                    <strong>{{ family }}</strong>:
                    {{ animals|join:", " }}
                </li>
            {% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>

